/* .theme-sortable-option-wrap .ui-sortable > * {
	padding-left: 10px;
	position: relative;
}

.theme-sortable-option-wrap .ui-sortable > * > *:before {
	width: 3px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	content: '';
	display: block;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
} */